
.my-app__calendar {

  &__root {
    padding: 2rem;
    background: white;
    height: 95vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eae7e7;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(176,176,176,1);

    &-top {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      padding: 20px 0;
    }

    &-bottom {
      display: flex;
      flex: 1;
      width: 100%;
      padding: 2% 5%;
      box-sizing: border-box;
      background: #8c8c8c;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: white;
      font-size: 16px;

      &-alternate {
        border-radius: 10px;
        animation: slide-up 0.8s ease;
      }
    }
  }

  &__calendar-day {
    color: grey;
    padding: 18px 20px;
    font-size: 18px;

    @media only screen and (max-width: 600px) {
      padding: 0;
    }

    &-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    &-button {
      display: flex;
      width: 4.2rem;
      height: 4.2rem;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: grey;
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
    }

    &-current {
      background: grey;
      color: white;
      border-radius: 35px;
      font-size: 18px;
      box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
    }

    &-selected {
      display: flex;
      width: 4.2rem;
      height: 4.2rem;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      color: grey;
      background: none;
      outline: none;
      border: 1px solid #6e6e6f;
      cursor: pointer;
      border-radius: 2.1rem;
    }
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(600px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
